#cite-hover-boxes-container
#footnote-hover-boxes-container
script
  include scripts.js
dt-footer
  .l-page
    .description
      a.logo(href='/')
        | Surya Dantuluri
      |  writes articles on Machine Learning, Full Stack Development, and Insightful Topics
    .nav
      a(href='https://blog.suryad.com/about') About
      a(href='https://suryad.com') Main Website
      a(href='https://github.com/dantuluri') GitHub
      a(href='https://twitter.com/dantuluri02') Twitter
      |       Monta Vista High School
