dt-header#mobile
  .content.l-page
    a.logo(href='/')
      |     Surya Dantuluri
    #myTopnav.nav.topnav
      a(href='/search/projects') Projects
      a(href='/search/research') Research
      a(href='/about') About
